{
  "type": "amazing",
  "version": "0.1",
  "dev_version": "10.43.0",
  "min_version": "10.41.0",
  "amg_version": "16.6.0",
  "systemList": [
    "AmazingProEditor",
    "AmazingProRuntime",
    "BehaviorSystem",
    "CameraSystem",
    "EffectNodeSystem",
    "EventSystem",
    "JSAssetSystem",
    "MultiLangSupport",
    "RenderSystem",
    "Sticker3DV3System",
    "TransformSystem"
  ]
}